<a href="https://colab.research.google.com/github/AKASHPATI007/basic-coding/blob/main/Basic_Coding_Concept.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**STRING**

In [ ]:
# LEN
algo = 'regression'
print(len(algo))

10

In [ ]:
# STRING INDEXING
string = 'JOKER'
print(string[1])
print(string[-1])
print(string[-4])

O
R
O

In [ ]:
# STRING SLICING
print(string[1:5])
print(string[-2:])
print(string[:-1])
print(string[-3:-1])
print(string[1:-1])

OKER
ER
JOKE
KE
OKE

In [ ]:
# step size
print(string[1:5:2])
print(string[4:1:-1])
print(string[::-1])
print(string[::-3])
print(string[0::-3])
print(string[1::-3])

OE
REK
REKOJ
RO
J
O

In [ ]:
# lower
a = 'ALGORITHM'
print(a.lower())
A= 'ALGORITHM'
print(A.upper())

algorithm
ALGORITHM

In [ ]:
# Count
a = 'neural network'
print(a.count('ne'))
print(a.count('l'))

2
1

In [ ]:
# find
print(a.find('a'))

4

In [ ]:
# replace
print(a.replace('n','l'))

leural letwork

In [ ]:
# f string
FN = 'Akashpati'
LN = 'Mishra'
print(f"{FN} {LN}")

Akashpati Mishra

**List**

In [ ]:
my_list = ['string', 23 ,100.20, '0' , True]
my_list

['string', 23, 100.2, '0', True]

In [ ]:
# List Indexing
# List Slicing

In [ ]:
# aggregation function
new_list = [2,54,7,5,4,3,45]
print(min(new_list))
print(max(new_list))
print(sum(new_list))
print(sorted(new_list))

2
54
120
[2, 3, 4, 5, 7, 45, 54]

In [ ]:
# Sorted
new_list2 = ['akash', 'Sujain', 'preeti', 'Sabha', 'neha']
print(sorted(new_list2))
print(sorted(new_list2,reverse = True))

['Sabha', 'Sujain', 'akash', 'neha', 'preeti']
['preeti', 'neha', 'akash', 'Sujain', 'Sabha']

In [ ]:
# List Method
# Append
my_list = [1,2,5,4,7,99]
my_list.append(45)
print(my_list)

[1, 2, 5, 4, 7, 99, 45]

In [ ]:
my_list.append([1,4,3])
print(my_list)

[1, 2, 5, 4, 7, 99, 45, [1, 4, 3]]

In [ ]:
# Extend
my_list.extend([11,3,8])
print(my_list)

[1, 2, 5, 4, 7, 99, 45, [1, 4, 3], 11, 3, 8]

In [ ]:
# POp
print(my_list.pop())
print(my_list)

11
[1, 2, 5, 4, 7, 99, 45, [1, 4, 3]]

In [ ]:
print(my_list.pop(4))
print(my_list)

7
[1, 2, 5, 4, 99, 45, [1, 4, 3]]

In [ ]:
# remove()
k_list = [1,2,3,4,5,6,7]
k_list.remove(5)
print(k_list)

[1, 2, 3, 4, 6, 7]

In [ ]:
# clear-- clear the list--
k_list.clear()
k_list

[]

In [ ]:
# count-- returns total occurance of specified element
a_list = [1,2,45,2,5,2,6,8,5,3,3,6,8,'jyoti']
a_list.count(2)

3

In [ ]:
# index()-returns the index of specified element
print(a_list.index(45))
print(a_list.index('jyoti'))

2
13

In [ ]:
#sort() - sort either ascending or descending order
b_list = [4,2,67,45,3,6,8,65,4,3,3]
b_list.sort()
b_list

[2, 3, 3, 3, 4, 4, 6, 8, 45, 65, 67]

In [ ]:
#  reverse()- reverse the list
b_list.reverse()
b_list

[67, 65, 45, 8, 6, 4, 4, 3, 3, 3, 2]

In [ ]:
import array as arr

# creating an integer data type array
x = arr.array('i', [1,2,3,4,5,6,7])


# creatomg a list
y = [8, 9, 10]

# using the fromlist() function
x.fromlist(y)

# Printing the new array
print(x)

array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [ ]:
x.tolist()
x

array('i', [1, 2, 3, 4, 5, 6, 7])

**Tuples, Sets and Dictionary**

Tuple is immutable

In [ ]:
# use () bracket for tuple
my_tuple = (1,2,3,4,5)
my_tuple

(1, 2, 3, 4, 5)

In [ ]:
# tuple indexing , tuple slicing working is same a string or list working
# remember to see brackets
print(my_tuple[2])

3

In [ ]:
# indexing
my_tuple = (1,2,3,4,5)
my_tuple.index(2)

1

In [ ]:
# Tuple does not support method such as append(), extend(), remove(), pop()

In [ ]:
# zip()
city_list = ['del','pat','cutt','guw']
riv_list = ['yam','ganga','mahanadi','brahmputra']
city_river = list(zip(city_list,riv_list))
print(city_river)

[('del', 'yam'), ('pat', 'ganga'), ('cutt', 'mahanadi'), ('guw', 'brahmputra')]

In [ ]:
# convert to dictionary
dict_1 = dict(city_river)
dict_1

{'del': 'yam', 'pat': 'ganga', 'cutt': 'mahanadi', 'guw': 'brahmputra'}

**SET**

In [ ]:
# empty_set =set()
# non_emppty_set = {1,3,5,'abc'}

In [ ]:
my_list = [1,1,2,4,3,3,2,4,6,5,4,3,3,8,7,6,5,4]
my_set = set(my_list)
my_set

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# Set can't have mutable item but set is mutable 
my_set = {1,2,[3,4]}
my_set

TypeError: ignored

In [ ]:
# \